<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChainEx</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <script>
    
    if (localStorage.getItem("address")) {
      console.log('1')
      window.location = "http://localhost:5000/dashboard/"
    } else {
      console.log('2')
    }
  </script>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ChainEx</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-light" id="connectButton">Connect</button>
          <button class="btn btn-outline-danger" id="logoutButton">logout</button>

        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <h1 id="status"></h1>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/4.13.0/web3.min.js"
    integrity="sha512-jHiK3Zbka2/b4MgP8FQ3rdUtTffY0R6yLHmyvj0rXPCBZe15nfIOFugwR/nVz9kqQso0OyW6hvXaW07IUW5W2Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    let web3;
    const connectButton = document.getElementById('connectButton');
    const statusDiv = document.getElementById('status');

    async function connectWallet() {
      if (typeof window.ethereum !== 'undefined') {
        try {
          // Request account access
          await window.ethereum.request({ method: 'eth_requestAccounts' });
          web3 = new Web3(window.ethereum);

          const accounts = await web3.eth.getAccounts();
          const account = accounts[0];
          statusDiv.innerHTML = `Connected: ${account}`;
          localStorage.setItem("address", account);

          // You can add more functionality here, like getting the balance
          const balance = await web3.eth.getBalance(account);
          const ethBalance = web3.utils.fromWei(balance, 'ether');
          let ethBalanceNum = Number(ethBalance);
          statusDiv.innerHTML += `<br>Balance: ${ethBalanceNum.toFixed(4)} `;

          connectButton.innerHTML = 'Wallet Connected';
          connectButton.disabled = true;
        } catch (error) {
          console.error(error);
          statusDiv.innerHTML = 'Failed to connect wallet';
        }
      } else {
        statusDiv.innerHTML = 'Please install MetaMask!';
      }
    }

    connectButton.onclick = connectWallet;


  </script>
</body>

</html>